body{
	margin: 0;
	padding: 0;
	transform: scale(1.01);
	font-size: 0;
}
a{
	text-decoration: none; 
}
li{
	list-style: none;
}
p{
	margin: 0;
	padding: 0;
}
.clearfix:after{
	content: '';
	display: block;  
	clear: both;
}
.title-navigation{
	width: 100%;
	height:35px ;
	padding-top:15px ;
	background-color: #2e3a4b;
}
.navigation-box{
	width: 1180px;
	margin: auto;
	height: 100%;
}
.navigation-left{
	float: left;
	padding-left: 50px;
}
.navigation-left>p,.navigation-left>p>span{
	font-size: 14px !important;
	color: #b7b7b7;
	line-height: 35px;
	margin-right: 18px;
	display: inline-block;
}
.navigation-left>p>span{
	margin-right: 0px;
}
.navigation-right{
	width: 580px;
	float: right;
}
.navigation-right>p{
	padding:0 20px;
	font-size: 14px !important;
	color: #b7b7b7;
	height: 16px;
	line-height: 16px;
	margin-top: 10px;
	display: inline-block;
	border-right:1px solid #b7b7b7;
}
.navigation-right>a{
	padding:0 20px;
	font-size: 14px !important;
	color: #b7b7b7;
	height: 16px;
	line-height: 16px;
	margin-top: 10px;
	display: inline-block;
	border-right:1px solid #b7b7b7;
}
.navigation-right>p>span{
	margin-left: 15px;
}
.phone{
	border-right: none !important;
}
.service-box{
	width: 1180px;
	margin: auto;
	padding-top: 12px;
}
.logo{
	width: 204px;
	height: 60px;
	float: left;
	margin-left: 25px;
}
.logo img{
	width: 204px;
	height: 60px;
}
.comment{
	width: 380px;
	float: right;
	padding-right: 20px;
	margin-top: 16px;
}
.comment p{
	color: #b0b0b0;
	font-size: 14px !important;
	line-height: 25px;
	display: inline-block;
	margin-left: 12px;
}
.comment-type{
	width: 100%;
	float: left;
	margin-top: 6px;
	height: 40px;
	font-size: 0;
}
.comment-type>p{
	display: inline-block;
	font-size: 18px;
	color: #575757;
	line-height: 40px;
	height: 40px;
	padding: 0 18px;
}
.all{
	width: 260px;
	text-align: center;
	box-sizing: border-box;
}
.index{
	width: 76px;
	text-align: center;
}
.blue{
	color: #fff !important;
	background: #34b3df;
}
.img{
	width: 100%;
	height: 440px;
}
.img-box img{
	width: 100%;
	height: 440px;
}
.we-service,.circuit{
	width: 100%;
	padding-top:45px ;
	background: #f5f5f5;
	padding-bottom: 60px;
}
.service-content{
	width: 1180px;
	margin: auto;
}
.con-title,.circuit-title,.sound-title,.bottom-content-title{
	text-align: center;
	font-size: 22px;
	color: #575757;
}
.card{
	width: 221px;
	height: 312px;
	background: #fff;
	margin:0 6px;
	float: left;
	margin-top: 44px;
}

.service-icon{
	width: 88px;
	height: 88px;
	margin: auto;
	margin-top: 28px;
	border-radius:50% ;
	background: #f5f5f5;
	text-align: center;
	color: #575757;
	font-size: 30px !important;
	line-height: 88px;
}
.card-type{
	margin-top: 15px;
	color: #575757;
	font-size:18px ;
	text-align: center;
}
.service-text{
	width: 221px;
	word-break:keep-all;
	white-space:nowrap;
	overflow:hidden;
	font-size: 12px;
	color: #b0b0b0;
	text-align: center;
	margin-top: 15px;
	text-overflow: ellipsis;
	margin-bottom: 35px;
}
.look{
	width: 100px;
	height: 30px;
	margin: auto;
	background: #fd5a66;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	color: #fff;
	margin-bottom: 16px;
}
.number{
	font-size: 12px;
	color: #aaaaaa;
	text-align: center;
}

.number>span{
	color: #fd5a66;
}
.advisory-title{
	text-align: center;
	font-size: 22px;
	color: #575757;
	margin-top: 45px;
	margin-bottom: 36px;
}
.advisory-type{
	width: 1180px;
	margin: auto;
}
.problem{
	width: 280px;
	margin: 0 6px;
	height: 340px;
	float: left;
}
.problem-img{
	width: 280px;
	height: 236px;
}
.problem-img img{
	width: 280px;
	height: 235px;
	float: left;
}
.problem-bottom{
	height: 105px;
	width: 100%;
	border: 1px solid #e8e8e8;
	border-top:none ;
	margin-bottom: 40px;
}
.problem-text{
	width:254px;
	word-break:keep-all;
	white-space:nowrap;
	overflow:hidden;
	font-size: 14px;
	color: #575757;
	text-align: center;
	text-overflow: ellipsis;
	padding: 18px 12px;
	margin-bottom: 14px;
}
.time,.more{
	color: #b0b0b0;
	font-size: 12px !important;
}
.time{
	float: left;
	margin-left: 12px;
}
.more{
	display: inline-block;
	width: 65px;
	text-align: center;
	float: right;
	margin-right: 12px;
	border:1px solid #b0b0b0 ;
}

.step{
	margin-top:55px ;
	width: 1280px;
	margin: auto;
}
.step-num{
	width: 1920px;
	height: 290px;
	overflow: hidden;
	position: relative;
}
.step-scroll{
	width: 1180px;
	overflow: hidden;
	float: left;
}
.step-num li{
	width: 204px;
	margin: 16px;
	float: left;
	text-align: center;
}
.step-img{
	width: 192px;
	height: 192px;
	border-radius:50% ;
	border: 6px solid #b0b0b0;
	background: url(../images/tuceng45.png) no-repeat;
	background-size:cover ;
}
.num{
	color: #B0B0B0;
	font-size:18px ;
	margin-top: 10px;
	margin-bottom: 15px;
}
.step-text{
	color: #B0B0B0;
	font-size:14px ;
}
.buttom-l,.buttom-r{
	/*position: absolute;
	top: 40%;*/
	margin-top: 100px;
	color:#b0b0b0 ;
	font-size: 35px !important;
	float: left;
}
.buttom-l{
	/*float: ;*/
}
.buttom-r{
	right: 15%;
	
}
.select-scroll{
	width: 100%;
	height: 450px;
	background: url(../images/img2.png) no-repeat;
	background-size:100% 450px;
}
.mask{
	width: 100%;
	height: 450px;
	background-color: rgba(0,0,0,0.5);
}
.why{
	text-align: center;
	color: #fff;
	font-size: 22px;
	padding-top: 45px;
}
.reason{
	margin-top: 60px;
}
.scroll-content{
	width:742px;
	margin: auto;
}
.scroll-content>div{
	width:742px;
	background: #fff;
	margin: auto;
	border-radius:10px ;
}
.reason-text{
	color: #575757;
	font-size: 16px;
	padding: 15px;
	box-sizing:border-box ;
	margin: auto;
	position: relative;
}
.scroll-content>div:after{
	content: '';
	position: absolute;
	width:0;
    height:0;
    border-width:11px 11px 0;
    border-style:solid;
    border-color:#fff transparent transparent;
    margin:40px auto;
    position:relative;
    bottom: -10px;
    left:calc(50% - 11px);
}
.circle{
	background: #34b3df;
	font-size: 22px;
	color: #fff;
	width: 125px;
	margin: auto;
	margin-top: 35px;
	text-align: center;
	border-radius:50% ;
	line-height: 125px;
}
.scroll-tow{
	position: relative;
}
.tabs{
	width: 110px;
	margin: auto;
	height: 15px;
	margin-top:35px;
}
.tab{
	border-radius: 50%;
	width: 12px;
	height: 12px;
	float: left;
	background: #413939;
	margin: 0 7px;
	cursor: pointer;
}
.bg{
	background: #fff;
}
.btn{
	width: 60px;
	height: 100px;
	background: rgba(0,0,0,0.7);
	color: #fff;
	font-size: 32px !important;
	position: absolute;
	text-align: center;
	line-height: 100px;
}
.btn-l{
	left: 15%;
	bottom: 175px;
}
.btn-r{
	right: 15%;
	bottom: 175px;
}
.heart-sound{
	height: 450px;
	padding-top:35px;
	box-sizing: border-box;
}
.sound-cards{
	width: 1155px;
	margin: auto;
	margin-top: 35px;
}
.sound-cards>li{
	width: 371px;
	height: 252px;
	background:url(../images/tuceng35.png) no-repeat;
	background-size: cover;
	float: left;
}
.margin{
	margin: 0 20px;
}
.cards-title{
	font-size: 22px;
	color: #fff;
	margin-top: 116px;
	text-align: center;
}
.name{
	margin-right: 15px;
}
.company{
	color: #34b3e0;
}
.sound-text{
	font-size: 14px;
	color:#fff ;
	padding: 0 15px;
	margin-top: 30px;
}
.bottom-content{
	background:#F5F5F5 ;
	width: 100%;
	
}
.bottom-content-title{
	padding-top: 45px;
	padding-bottom: 40px;
}
.partner-box{
	width: 1150px;
	margin: auto;
	background: #fcfcfc;
	box-sizing: border-box;
	
}
.partner-box>li{
	width: 180px;
	height: 132px;
	background: #fff;
	margin-left: 10px;
	float: left;
	margin-bottom: 10px;
}
.content-box{
	width: 100%;
	border-bottom:1px solid #dadada ;
	padding-bottom: 42px;
}
.link-box{
	width: 100%;
	border-bottom:1px solid #dadada ;
}
.link{
	width: 1155px;
	margin: auto;
	padding-bottom: 22px;
}
.link li{
	color: #575757;
}
.link-title{
	margin-top:18px ;
	font-size: 16px;
	margin-bottom: 10px;
}
.link>li>span{
	font-size: 14px;
	margin-right: 20px;
}
.bottom-comment{
	padding-top:35px ;
	padding-bottom: 48px;
	border-bottom: 1px solid #dadada;
}
.bottom-commen-content{
	margin: auto;
	width: 985px;
}
.cont-box{
	float: left;
	margin-right: 35px;
}
.fonts{
	float: left;
	color: #575757;
	font-size: 45px !important;
}
.fonts-text{
	float: left;
	width: 156px;
	height: 45px;
	
}
.fonts-text-title{
	font-size: 22px;
	color: #575757;
}
.fonts-text-bottom{
	font-size: 12px;
	color: #575757;
}
.bottom-final{
	padding-top: 50px;
	padding-bottom: 42px;
}
.bot-final-content{
	width: 1155px;
	margin: auto;
	box-sizing: border-box;
}
.bot-final-content>div{
	float: left;
}
.links-box{
	float: left;
	width: 90px;
	text-align: center;
	font-size: 14px;
	margin-right: 60px;
}
.links-box>p{
	color: #575757;
	margin-bottom: 10px;
}
.links-box>a{
	display: block;
	color: #a6a6a6;
	line-height:22px ;
}
.hot{
	margin-right: 38px;
}
.content-right{
	width: 725px;
	height: 120px;
	margin-top: 10px;
	box-sizing: border-box;
	padding-left: 38px;
	border-left:1px solid #dadada;
}
.content-right>div{
	float: left;
}
.code{
	width: 120px;
	height: 120px;
	background-color:#55b0ef ;
	display: inline-block;
}
.attention{
	padding-top: 35px;
	font-size: 12px;
	color: #A6A6A6;
	margin-left: 10px;
}
.text-box{
	font-size: 16px;
	color: #A6A6A6;
	margin-left: 20px;
	line-height: 30px;
}
.bottom{
	font-size: 14px;
	color: #b7b7b7;
	line-height: 35px;
	text-align: center;
	background-color: #2e3a4b;
}
.bottom>p{
	display: inline-block;
}
