<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="../css/picone.css"/>
		<link rel="stylesheet" type="text/css" href="../fonts/iconfont.css"/>
		<script src="../js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/picone.js" type="text/javascript" charset="utf-8"></script>
		<title></title>
	</head>
	<body>
		<div class="title">
			<div class="title-content clearfix">
				<div class="logo"><img src="../images/Blogin..png"/></div>
				<div class="navigation" id="nav">
					<a class="click green current">Journal</a>
					<a class="click">About</a>
					<a class="click">Work</a>
					<a class="click">Contact</a>
					<div class="nav-current"></div>
				</div>
				
			</div>
		</div>
		<div class="content-box">
			<div class="content">
				<div class="pages page1" data-info="1">
					<div class="card-box clearfix">
						<div class="img"><img src="../images/Layer2.png"/></div>
						<div class="text">
							<li class="text-title">
								DUIS AUTE IRURE DALOR IN<br />
								HENDERIT IN VOLUPTATE.
							</li>
							<li class="introduction">
								Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo doconsequat, sunt in culpa qui officia deserunt mollit anim id est laborum. 
							</li>
							<li class="introduction">
								Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur...
							</li>
						</div>
						<p class="buttom">Continue Reading</p>
					</div>
					<div class="card-box clearfix">
						<div class="img"><img src="../images/Layer3.png"/></div>
						<div class="text">
							<li class="text-title">
								DUIS AUTE IRURE DALOR IN<br />
								HENDERIT IN VOLUPTATE.
							</li>
							<li class="introduction">
								Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo doconsequat, sunt in culpa qui officia deserunt mollit anim id est laborum. 
							</li>
							<li class="introduction">
								Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur...
							</li>
						</div>
						<p class="buttom">Continue Reading</p>
					</div>
					<div class="card-box clearfix">
						<div class="img"><img src="../images/Layer4.png"/></div>
						<div class="text">
							<li class="text-title">
								DUIS AUTE IRURE DALOR IN<br />
								HENDERIT IN VOLUPTATE.
							</li>
							<li class="introduction">
								Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo doconsequat, sunt in culpa qui officia deserunt mollit anim id est laborum. 
							</li>
							<li class="introduction">
								Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur...
							</li>
						</div>
						<p class="buttom">Continue Reading</p>
					</div>
				</div>
				<div class="pages page2">
					<div class="card-box clearfix">
						<div class="img"><img src="../images/Layer4.png"/></div>
						<div class="text">
							<li class="text-title">
								DUIS AUTE IRURE DALOR IN<br />
								HENDERIT IN VOLUPTATE.
							</li>
							<li class="introduction">
								Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo doconsequat, sunt in culpa qui officia deserunt mollit anim id est laborum. 
							</li>
							<li class="introduction">
								Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur...
							</li>
						</div>
						<p class="buttom">Continue Reading</p>
					</div>
					<div class="card-box clearfix">
						<div class="img"><img src="../images/Layer3.png"/></div>
						<div class="text">
							<li class="text-title">
								DUIS AUTE IRURE DALOR IN<br />
								HENDERIT IN VOLUPTATE.
							</li>
							<li class="introduction">
								Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo doconsequat, sunt in culpa qui officia deserunt mollit anim id est laborum. 
							</li>
							<li class="introduction">
								Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur...
							</li>
						</div>
						<p class="buttom">Continue Reading</p>
					</div>
					<div class="card-box clearfix">
						<div class="img"><img src="../images/Layer2.png"/></div>
						<div class="text">
							<li class="text-title">
								DUIS AUTE IRURE DALOR IN<br />
								HENDERIT IN VOLUPTATE.
							</li>
							<li class="introduction">
								Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo doconsequat, sunt in culpa qui officia deserunt mollit anim id est laborum. 
							</li>
							<li class="introduction">
								Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur...
							</li>
						</div>
						<p class="buttom">Continue Reading</p>
					</div>
				</div>
				<div class="regulator">
					<p class="on iconfont ">← PREVIOUS</p>
					<p class="under">NEXT →</p>
				</div>
			</div>
		</div>
		<div class="bottom-box">
			<p class="bottom-logo"><img src="../images/blackBlogin.png"/></p>
			<p>© 2014 Blogin.com  -  All Rights Reserved  -  Find more free Te</p>
			<p>
				<span class="share blue iconfont icon-Facebook"></span>
				<span class="share iconfont icon-tuite1"></span>
				<span class="share iconfont icon-be"></span>
				<span class="share iconfont icon-06-copy"></span>
			</p>
		</div>
	</body>
</html>
