<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/pictwo.css"/>
		<link rel="stylesheet" type="text/css" href="../fonts/iconfont.css"/>
		<script src="../js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/pictwo.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="title-navigation">
			<div class="navigation-box clearfix">
				<div class="navigation-left">
					<p>欢迎来到综信财务 !</p>
					<p class="iconfont icon-xinlang"></p>
					<p class="iconfont icon-weixin"></p>
					<p class="iconfont icon-shouji">
						<span>移动应用</span>
						<span class="iconfont icon-arrow-down"></span>
					</p>
				</div>
				<div class="navigation-right">
					<a class="iconfont icon-edit-user">登录/注册</a>
					<p>设为首页</p>
					<p>加入收藏</p>
					<p class="phone">联系我们<span class="iconfont icon-dianhua1"> xxxxx-xxxx</span></p>
				</div>
			</div>
		</div>
		
		<div class="service-box clearfix">
			<div class="logo"><img src="../images/finance.png"/></div>
			<div class="comment">
				<p class="iconfont icon-renzheng">资质认证</p>
				<p class="iconfont icon-zhifuanquan">支付安全</p>
				<p class="iconfont icon-zhaomugongyingshangshangji">专人服务</p>
				<p class="iconfont icon--thumb-up">售后无忧</p>
			</div>
			<div class="comment-type">
				<p class="all blue">全部服务分类</p>
				<p class="index">首页</p>
				<p class="registered">公司注册</p>
				<p class="proxy">税收代理</p>
				<p class="government">政府批文</p>
				<p class="food">食品卫生</p>
				<p class="trademark">商标专利</p>
				<p class="visa">工作签证</p>
				<p class="about">关于我们</p>
			</div>
		</div>
		
		<div class="img-box"><img src="../images/tuceng44.png"/></div>
		
		<div class="we-service">
			<div class="service-content">
				<p class="con-title">我们的服务</p>
				<div class="clearfix">
					<div class="card">
						<p class="service-icon iconfont icon-gongsi"></p>
						<p class="card-type">公司注册</p>
						<p class="service-text">线上提交材料，为您快速注册公司</p>
						<p class="look">查看详情</p>
						<p class="number">已有<span>10000+</span>个企业选择</p>
					</div>
					<div class="card">
						<p class="service-icon iconfont icon-qian"></p>
						<p class="card-type">税收服务</p>
						<p class="service-text">从业三年以上会计师，专业又贴心</p>
						<p class="look">查看详情</p>
						<p class="number">已有<span>10000+</span>个企业选择</p>
					</div>
					<div class="card">
						<p class="service-icon iconfont icon-shenpi"></p>
						<p class="card-type">专项审批</p>
						<p class="service-text">专项审批更专业，优质服务更省心</p>
						<p class="look">查看详情</p>
						<p class="number">已有<span>10000+</span>个企业选择</p>
					</div>
					<div class="card">
						<p class="service-icon iconfont icon-shangbiao"></p>
						<p class="card-type">商标注册</p>
						<p class="service-text">24小时内提交申请，注册成功率高</p>
						<p class="look">查看详情</p>
						<p class="number">已有<span>10000+</span>个企业选择</p>
					</div>
					<div class="card">
						<p class="service-icon iconfont icon-nan"></p>
						<p class="card-type">一般纳税人</p>
						<p class="service-text">纳税资格提交申请，申请成功率高</p>
						<p class="look">查看详情</p>
						<p class="number">已有<span>10000+</span>个企业选择</p>
					</div>
				</div>
			</div>
		</div>
	
		<div class="advisory">
			<p class="advisory-title">行业资讯</p>
			<div class="advisory-type clearfix">
				<div class="problem">
					<div class="problem-img"><img src="../images/tuceng3.png"/></div>
					<div class="problem-bottom">
						<p class="problem-text">哪些因素决定企业所得税的多少</p>
						<p>
							<span class="time iconfont icon-rili">2016-2-27</span>
							<span class="more">MORE+</span>
						</p>
					</div>
				</div>
				<div class="problem">
					<div class="problem-img"><img src="../images/tuceng3.png"/></div>
					<div class="problem-bottom">
						<p class="problem-text">哪些因素决定企业所得税的多少</p>
						<p>
							<span class="time iconfont icon-rili">2016-2-27</span>
							<span class="more">MORE+</span>
						</p>
					</div>
				</div>
				<div class="problem">
					<div class="problem-img"><img src="../images/tuceng3.png"/></div>
					<div class="problem-bottom">
						<p class="problem-text">哪些因素决定企业所得税的多少</p>
						<p>
							<span class="time iconfont icon-rili">2016-2-27</span>
							<span class="more">MORE+</span>
						</p>
					</div>
				</div>
				<div class="problem">
					<div class="problem-img"><img src="../images/tuceng3.png"/></div>
					<div class="problem-bottom">
						<p class="problem-text">哪些因素决定企业所得税的多少</p>
						<p>
							<span class="time iconfont icon-rili">2016-2-27</span>
							<span class="more">MORE+</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	
		<div class="circuit">
			<p class="circuit-title">公司注册流程</p>
			<div class="step clearfix">
				<p class="bottom-l iconfont icon-icozuola"></p>
				<div class="step-scroll">
					<div class="step-num">
						<li>
							<p class="step-img"></p>
							<p class="num">步骤一</p>
							<p class="step-text">与客户洽谈签订注册公司确认单</p>
						</li>
						<li>
							<p class="step-img"></p>
							<p class="num">步骤二</p>
							<p class="step-text">与客户洽谈签订注册公司确认单</p>
						</li>
						<li>
							<p class="step-img"></p>
							<p class="num">步骤三</p>
							<p class="step-text">与客户洽谈签订注册公司确认单</p>
						</li>
						<li>
							<p class="step-img"></p>
							<p class="num">步骤四</p>
							<p class="step-text">与客户洽谈签订注册公司确认单</p>
						</li>
						<li>
							<p class="step-img"></p>
							<p class="num">步骤五</p>
							<p class="step-text">与客户洽谈签订注册公司确认单</p>
						</li>
						<li>
							<p class="step-img"></p>
							<p class="num">步骤六</p>
							<p class="step-text">与客户洽谈签订注册公司确认单</p>
						</li>
						<li>
							<p class="step-img"></p>
							<p class="num">步骤七</p>
							<p class="step-text">与客户洽谈签订注册公司确认单</p>
						</li>
						
					</div>
				</div>
				<p class="bottom-r iconfont icon-icozuola1"></p>
			</div>
		</div>
		
		<div class="select-scroll clearfix">
			<div class="mask">
				<p class="why">为什么选择我们</p>
				<div class="scroll-tow">
					<div class="reason">
						<div class="scroll-content">
							<div>
								<p class="reason-text">
									12年正规公司，深圳政府与香港政府机构鼎力推荐，大陆8个分支机构，香港3个办公地点，近300人专业顾问团队，注册、变更、报税、批文一条龙。
								</p>
							</div>
							<p class="circle">公司素质</p>
						</div>
						<div class="scroll-content">
							<div>
								<p class="reason-text">
									12年正规公司，深圳政府与香港政府机构鼎力推荐，大陆8个分支机构，香港3个办公地点，近300人专业顾问团队，注册、变更、报税、批文一条龙。
								</p>
							</div>
							<p class="circle">公司素质</p>
						</div>
						<div class="scroll-content">
							<div>
								<p class="reason-text">
									12年正规公司，深圳政府与香港政府机构鼎力推荐，大陆8个分支机构，香港3个办公地点，近300人专业顾问团队，注册、变更、报税、批文一条龙。
								</p>
							</div>
							<p class="circle">公司素质</p>
						</div>
						<div class="scroll-content">
							<div>
								<p class="reason-text">
									12年正规公司，深圳政府与香港政府机构鼎力推荐，大陆8个分支机构，香港3个办公地点，近300人专业顾问团队，注册、变更、报税、批文一条龙。
								</p>
							</div>
							<p class="circle">公司素质</p>
						</div>
					</div>
					<div class="tabs">
						<span class="tab"></span>
						<span class="tab"></span>
						<span class="tab"></span>
						<span class="tab"></span>
					</div>
					<div class="btn btn-l iconfont icon-icozuola"></div>
					<div class="btn btn-r iconfont icon-icozuola1"></div>
				</div>
			</div>
			
		</div>
		
		<div class="heart-sound">
			<p class="sound-title">客户心声</p>
			<div class="sound-cards clearfix">
				<li>
					<p class="cards-title">
						<span class="name">郭大兵</span>
						<span>总经理</span> │
						<span class="company">八零互联</span>
					</p>
					<p class="sound-text">综信财务的团队很好，服务到位，人事财税上帮助我们 
						解决问题，是值得推荐的企业发展平台。</p>
				</li>
				<li class="margin"></li>
				<li></li>
			</div>
		</div>
	
		<div class="bottom-content">
			<p class="bottom-content-title">合作伙伴</p>
			<div class="content-box">
				<div class="partner-box clearfix">
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</div>
			</div>
			<div class="link-box">
				<div class="link">
					<li class="link-title">友情链接</li>
					<li>
						<span>综信大型工商财税</span>
						<span>深圳业信会计师事务所</span>
						<span>综信国际商务有限公司</span>
						<span>深圳综融财富咨询有限公司</span>
						<span>深圳综融财富咨询有限公司</span>
						<span>深圳综融财富咨询有限公司</span>
					</li>
				</div>
			</div>
			<div class="bottom-comment">
				<div class="bottom-commen-content clearfix">
					<div class="cont-box">
						<div class="fonts iconfont icon-renzheng"></div>
						<div class="fonts-text">
							<p class="fonts-text-title">资质认证</p>
							<p class="fonts-text-bottom">服务商100%实名审核认证</p>
						</div>
					</div>
					<div class="cont-box">
						<div class="fonts iconfont icon-renzheng"></div>
						<div class="fonts-text">
							<p class="fonts-text-title">支付安全</p>
							<p class="fonts-text-bottom">明码标价支付及信息安全</p>
						</div>
					</div>
					<div class="cont-box">
						<div class="fonts iconfont icon-renzheng"></div>
						<div class="fonts-text">
							<p class="fonts-text-title">专人服务</p>
							<p class="fonts-text-bottom">服务全程进行信息化监控</p>
						</div>
					</div>
					<div class="cont-box">
						<div class="fonts iconfont icon-renzheng"></div>
						<div class="fonts-text">
							<p class="fonts-text-title">售后无忧</p>
							<p class="fonts-text-bottom">服务出问题客服经理全程跟进</p>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom-final">
				<div class="bot-final-content clearfix">
					<div class="content-left">
						<div class="links-box">
							<p>关于综信服务</p>
							<a>了解我们</a>
							<a>品牌故事</a>
							<a>加入我们</a>
							<a>联系我们</a>
						</div>
						<div class="links-box">
							<p>售后服务</p>
							<a>服务中心</a>
							<a>售后服务政策</a>
							<a>问答中心</a>
							<a>成功案例</a>
						</div>
						<div class="links-box hot">
							<p>热门产品</p>
							<a>公司注册</a>
							<a>工商注册</a>
							<a>知识产权</a>
							<a>税收代理</a>
						</div>
						
					</div>
					<div class="content-right clearfix">
						<div class="code-box">
							<p class="code"></p>
						</div>
						<div class="attention">
							<p>扫描二维码</p>
							<p>关注综信服务</p>
							<p>精彩一手掌握</p>
						</div>
						<div class="text-box">
							<p>测试文本</p>
							<p>假装有内容假装有内容</p>
							<p>假装有内容假装有内容</p>
							<p>假装有内容假装有内容假装有内容假装有内容</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="bottom">
			<p>测试文本231231321</p>
			<p>测试文本2123132132</p>
		</div>
	</body>
</html>
