<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/pictwo.css"/>
		<link rel="stylesheet" type="text/css" href="../fonts/iconfont.css"/>
		<script src="../js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/pictwo.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="title-navigation">
			<div class="navigation-box clearfix">
				<div class="navigation-left">
					<p>欢迎来到综信财务 !</p>
					<p class="iconfont icon-xinlang"></p>
					<p class="iconfont icon-weixin"></p>
					<p class="iconfont icon-shouji">
						<span>移动应用</span>
						<span class="iconfont "></span>
					</p>
				</div>
				<div class="navigation-right"></div>
			</div>
		</div>
	</body>
</html>
